@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply w-5 h-5 cursor-pointer hover:scale-[115%] transition transform
    duration-150 ease-in-out;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (max-width: 639px) {
  .container {
    /* display: block; */
  }

  .center-header {
    display: block;
  }

  .center-header .content {
    margin-left: 0px !important;
  }

  .center-header img {
    margin: auto;
    margin-bottom: 1rem;
  }

  .center-header .playlist-text {
    display: none;
  }

  .center-header h1 {
    font-size: 24px;
    margin-bottom: 0.5rem;
  }

  .profile-button .username, .profile-button .icon {
    display: none;
  }

  .profile-button .menu-button {
    padding: 3px;
  }

  .songs {
    font-size: 14px;
  }

}